.buttons {
    display: inline;
}

.btn {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 6px;
    color: #36FF00;
    background: #093500;
    border: none;
    padding: 3px 8px 3px 8px;
    border-radius: 3px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif
}

html, body {
    background: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.texts {
    color: #00E700;
    font-weight: bold;
    font-size: 25px;
}

.start {
    color: #00E700;
    font-size: 25px;
}